Vector.API/Files/XSD/PFXML.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->

<!--ECS Payment Manager Payment XML Schema version 2009.04.01-->

<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema" xmlns="http://www.prokarma.com/PF.xsd" targetNamespace="http://www.prokarma.com/PF.xsd" 
           xmlns:mstns="http://tempuri.org/PF.xsd">

	<xsd:element name = "File">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "PmtRec" maxOccurs = "unbounded"/>

				<xsd:element ref = "Sender" minOccurs = "0"/>

				<xsd:element ref = "Receiver" minOccurs = "0"/>

				<xsd:element ref = "Attachment" minOccurs = "0"/>

				<xsd:element ref = "ValidationErrors" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "FileInfoGrp"/>

			</xsd:sequence>

			<xsd:attribute name = "ValidFlag" default = "true" type = "xsd:boolean"/>

			<xsd:attribute name = "CompanyID" use = "optional" type = "xsd:string"/>

			<xsd:attribute name = "DocumentType" use = "optional" type = "xsd:string"/>

			<xsd:attribute name = "PmtRecCount" use = "required" type = "xsd:string"/>

			<xsd:attribute name = "PmtRecTotal" use = "required" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "PmtRec">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "RefInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "IDInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "DateInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "Message" minOccurs = "0" maxOccurs = "2"/>

				<xsd:element ref = "Check" minOccurs = "0"/>

				<xsd:element ref = "OrgnrParty"/>

				<xsd:element ref = "RcvrParty"/>

				<xsd:element ref = "OrgnrDepAcctID"/>

				<xsd:element ref = "RcvrDepAcctID"/>

				<xsd:element ref = "IntermediaryDepAcctID" minOccurs = "0" maxOccurs = "2"/>

				<xsd:element ref = "VendorParty" minOccurs = "0"/>

				<xsd:element ref = "PmtDetail" minOccurs = "0"/>

				<xsd:element ref = "ValidationErrors" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "Attachment" minOccurs = "0"/>

				<xsd:element ref = "PmtID" minOccurs = "0"/>

				<xsd:element ref = "PmtSuppCCR" minOccurs = "0"/>

				<xsd:element ref = "PDPHandlingCode" minOccurs = "0"/>

				<xsd:element ref = "DocDelivery" minOccurs = "0"/>

				<xsd:element ref = "CurAmt"/>

				<xsd:element ref = "CurCode" minOccurs = "0"/>

				<xsd:element ref = "PrcDate" minOccurs = "0"/>

				<xsd:element ref = "ValueDate" minOccurs = "0"/>

				<xsd:element ref = "RlsDate" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "ValidFlag" default = "true" type = "xsd:boolean"/>

			<xsd:attribute name = "PmtFormat">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "CCD"/>

						<xsd:enumeration value = "CCP"/>

						<xsd:enumeration value = "PPD"/>

						<xsd:enumeration value = "PPP"/>

						<xsd:enumeration value = "CTX"/>

						<xsd:enumeration value = "BTF"/>

						<xsd:enumeration value = "NBT"/>

						<xsd:enumeration value = "IAT"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "PmtFormatIntl">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "PAD"/>

						<xsd:enumeration value = "DEP"/>

						<xsd:enumeration value = "PEN"/>

						<xsd:enumeration value = "SAL"/>

						<xsd:enumeration value = "INS"/>

						<xsd:enumeration value = "ANN"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "PmtMethod" use = "required">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "DAC"/>

						<xsd:enumeration value = "IAC"/>

						<xsd:enumeration value = "CHK"/>

						<xsd:enumeration value = "IWI"/>

						<xsd:enumeration value = "MTS"/>

						<xsd:enumeration value = "FXC"/>

						<xsd:enumeration value = "SDC"/>

						<xsd:enumeration value = "CPC"/>

						<xsd:enumeration value = "WTX"/>

						<xsd:enumeration value = "CCR"/>

						<xsd:enumeration value = "FDP"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "DeliveryMethod">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "000"/>

						<xsd:enumeration value = "X"/>

						<xsd:enumeration value = "001"/>

						<xsd:enumeration value = "002"/>

						<xsd:enumeration value = "003"/>

						<xsd:enumeration value = "004"/>

						<xsd:enumeration value = "005"/>

						<xsd:enumeration value = "006"/>

						<xsd:enumeration value = "007"/>

						<xsd:enumeration value = "008"/>

						<xsd:enumeration value = "009"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "TranHandlingCode">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "C"/>

						<xsd:enumeration value = "D"/>

						<xsd:enumeration value = "U"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "PmtCrDr">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "C"/>

						<xsd:enumeration value = "D"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "RefInfo">

		<!-- element RefInfo  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "RefID" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "RefType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "RefID" type = "xsd:string"/>

	<xsd:element name = "IDInfo">

		<!-- element IDInfo  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "ID"/>

			</xsd:sequence>

			<xsd:attribute name = "IDType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "DateInfo">

		<!-- element DateInfo  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Date"/>

			</xsd:sequence>

			<xsd:attribute name = "DateType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "Date" type = "xsd:string"/>

	<xsd:element name = "Message">

		<!-- element Message  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "MsgText" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "MsgType">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "OBI"/>

						<xsd:enumeration value = "BBI"/>

						<xsd:enumeration value = "ACH"/>

						<xsd:enumeration value = "CHK"/>

						<xsd:enumeration value = "ADD"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "MsgText" type = "xsd:string"/>

	<xsd:element name = "Check">

		<!-- element Check  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "ChkNum" minOccurs = "0"/>

				<xsd:element ref = "ChkDocNum" minOccurs = "0"/>

				<xsd:element ref = "ChkCtrlNum" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "ChkNum" type = "xsd:string"/>

	<xsd:element name = "ChkDocNum" type = "xsd:string"/>

	<xsd:element name = "ChkCtrlNum" type = "xsd:string"/>

	<xsd:element name = "OrgnrParty">

		<!-- element OrgnrParty -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Name"/>

				<xsd:element ref = "RefInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "PostAddr" minOccurs = "0"/>

				<xsd:element ref = "ContactInfo" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "BankID" type = "xsd:string"/>

	<xsd:element name = "Name">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Name1"/>

				<xsd:element ref = "Name2" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "Name1" type = "xsd:string"/>

	<xsd:element name = "Name2" type = "xsd:string"/>

	<xsd:element name = "PostAddr">

		<!-- element PostAddr -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Addr1" minOccurs = "0"/>

				<xsd:element ref = "Addr2" minOccurs = "0"/>

				<xsd:element ref = "City" minOccurs = "0"/>

				<xsd:element ref = "StateProv" minOccurs = "0"/>

				<xsd:element ref = "PostalCode" minOccurs = "0"/>

				<xsd:element ref = "Country" minOccurs = "0"/>

				<xsd:element ref = "CountryName" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "Addr1" type = "xsd:string"/>

	<xsd:element name = "Addr2" type = "xsd:string"/>

	<xsd:element name = "City" type = "xsd:string"/>

	<xsd:element name = "StateProv" type = "xsd:string"/>

	<xsd:element name = "PostalCode" type = "xsd:string"/>

	<xsd:element name = "Country" type = "xsd:string"/>

	<xsd:element name = "CountryName" type = "xsd:string"/>

	<xsd:element name = "DepAcctID">

		<!-- element DepAcctID -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "BankInfo"/>

			</xsd:sequence>

			<xsd:attribute name = "AcctID" type = "xsd:string"/>

			<xsd:attribute name = "AcctType">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "C"/>

						<xsd:enumeration value = "S"/>

						<xsd:enumeration value = "D"/>

						<xsd:enumeration value = "G"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "AcctCur" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "BankInfo">

		<!-- element BankInfo -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "RefInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "PostAddr" minOccurs = "0"/>

				<xsd:element ref = "BankID" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "Name" type = "xsd:string"/>

			<xsd:attribute name = "BranchID" type = "xsd:string"/>

			<xsd:attribute name = "BranchName" type = "xsd:string"/>

			<xsd:attribute name = "BankIDType">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "ABA"/>

						<xsd:enumeration value = "SWT"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "RcvrParty">

		<!-- element RcvrParty -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Name"/>

				<xsd:element ref = "RefInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "PostAddr" minOccurs = "0"/>

				<xsd:element ref = "ContactInfo" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "ContactInfo">

		<!-- element ContactInfo -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "PhoneNum" minOccurs = "0"/>

				<xsd:element ref = "EmailAddr" minOccurs = "0"/>

				<xsd:element ref = "URL" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "Name" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "PhoneNum">

		<!-- element PhoneNum -->

		<xsd:complexType>

			<xsd:attribute name = "PhoneType">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "FX"/>

						<xsd:enumeration value = "TE"/>

						<xsd:enumeration value = "TL"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>

			<xsd:attribute name = "Phone" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "EmailAddr" type = "xsd:string"/>

	<xsd:element name = "URL" type = "xsd:string"/>

	<xsd:element name = "PmtDetail">

		<!-- element PmtDetail -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "InvoiceInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "Payroll" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "InvoiceInfo">

		<!-- element InvoiceInfo -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "RefInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				

				

				<xsd:element ref = "Note" minOccurs = "0"  maxOccurs = "unbounded"/>

				<xsd:element ref = "TaxInfo" minOccurs = "0"/>

				<xsd:element ref = "InvoiceAdj" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "POInfo" minOccurs = "0" maxOccurs = "unbounded"/>

			</xsd:sequence>



			
            <xsd:attribute name = "PmtActionCode"  type = "xsd:string"/>


			<xsd:attribute name = "CustomerName"  type = "xsd:string"/>
			<xsd:attribute name = "AccountNumber"  type = "xsd:string"/>
			<xsd:attribute name = "NetCurAmt" type = "xsd:decimal"/>
			<xsd:attribute name = "InvoiceDate" type = "xsd:date"/>
			<xsd:attribute name = "ServicePeriodFrom" type = "xsd:date"/>
			<xsd:attribute name = "ServicePeriodTo" type = "xsd:date"/>
			<xsd:attribute name = "InvoiceNum" type = "xsd:string"/>
			<xsd:attribute name = "TransactionID" type = "xsd:string"/>
      <xsd:attribute name = "PaymentId"  type = "xsd:string"/>
			<xsd:attribute name = "InvoiceType">

				<xsd:simpleType>

					<xsd:restriction base = "xsd:string">

						<xsd:enumeration value = "IV"/>

						<xsd:enumeration value = "CM"/>

						<xsd:enumeration value = "PO"/>

					</xsd:restriction>

				</xsd:simpleType>

			</xsd:attribute>
		</xsd:complexType>

	</xsd:element>

	



	<xsd:element name = "Rate" type = "xsd:decimal"/>

	<xsd:element name = "CurAmt" type = "xsd:decimal"/>

	<xsd:element name = "EffDt" type = "xsd:date"/>

	<xsd:element name = "Desc" type = "xsd:string"/>

	<xsd:element name = "TaxInfo">

		<!-- element TaxInfo -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "OrgID" minOccurs = "0"/>

				<xsd:element ref = "CurAmt" minOccurs = "0"/>

				<xsd:element ref = "Rate" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "TaxType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "OrgID" type = "xsd:string"/>

	<xsd:element name = "InvoiceAdj">

		<!-- element InvoiceAdj -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "InvoiceAdjNum" minOccurs = "0"/>

				<xsd:element ref = "Note" minOccurs = "0"  maxOccurs = "unbounded"/>

                               <xsd:element ref = "CurAmt" minOccurs = "0"/>

				<xsd:element ref = "EffDt" minOccurs = "0"/>

				<xsd:element ref = "Desc" minOccurs = "0"/>

				<xsd:element ref = "RAInfo" minOccurs = "0" maxOccurs = "unbounded"/>

			</xsd:sequence>

			<xsd:attribute name = "AdjType" type = "xsd:string"/>

			<xsd:attribute name = "AdjNumType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "InvoiceAdjNum" type = "xsd:string"/>

	<xsd:element name = "Payroll">

		<!-- element Payroll -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "PyrlCurr"/>

				<xsd:element ref = "PyrlYTD" minOccurs = "0"/>

				<xsd:element ref = "EarningsItem" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "TaxItem" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "BefrTaxDctnItem" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "AftrTaxDctnItem" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "GrnshmtDctnItem" minOccurs = "0" maxOccurs = "unbounded"/>

			</xsd:sequence>

			<xsd:attribute name = "PyrlPrdEndDate" type = "xsd:date"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "PyrlCurr">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "EarningsGrp" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "PyrlYTD">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "EarningsGrp" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "EarningsGrp">

		<!-- element EarningsGrp -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "EarningsAmt" minOccurs = "0"/>

				<xsd:element ref = "TaxAmt" minOccurs = "0"/>

				<xsd:element ref = "DctnAmt" minOccurs = "0"/>

				<xsd:element ref = "NetPayAmt" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "EarningsAmt" type = "xsd:decimal"/>

	<xsd:element name = "TaxAmt" type = "xsd:decimal"/>

	<xsd:element name = "DctnAmt" type = "xsd:decimal"/>

	<xsd:element name = "NetPayAmt" type = "xsd:decimal"/>

	<xsd:element name = "EarningsItem">

		<!-- element EarningsItem -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "CurrHours" minOccurs = "0"/>

				<xsd:element ref = "YTDHours" minOccurs = "0"/>

				<xsd:element ref = "AmtGroup" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "CurrHours" type = "xsd:string"/>

	<xsd:element name = "YTDHours" type = "xsd:string"/>

	<xsd:element name = "AmtGroup">

		<!-- element AmtGroup -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "CurrAmt" minOccurs = "0"/>

				<xsd:element ref = "YTDAmt" minOccurs = "0"/>

				<xsd:element ref = "Desc" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "CurrAmt" type = "xsd:decimal"/>

	<xsd:element name = "YTDAmt" type = "xsd:decimal"/>

	<xsd:element name = "TaxItem">

		<!-- element TaxItem -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "AmtGroup" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "BefrTaxDctnItem">

		<!-- element BefrTaxDctnItem -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "AmtGroup" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "AftrTaxDctnItem">

		<!-- element AftrTaxDctnItem -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "AmtGroup" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "GrnshmtDctnItem">

		<!-- element GrnshmtDctnItem -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "AmtGroup" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "Sender">

		<!-- element Sender  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Name1" minOccurs = "0"/>

				<xsd:element ref = "ID"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "ID" type = "xsd:string"/>

	<xsd:element name = "Receiver">

		<!-- element Receiver  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Name1" minOccurs = "0"/>

				<xsd:element ref = "ID"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "Attachment">

		<!-- element Attachment  -->

		<xsd:complexType/>

	</xsd:element>

	<xsd:element name = "ValidationErrors" type = "xsd:string">

		<!-- element ValidationErrors  -->

	</xsd:element>

	<xsd:element name = "PmtID" type = "xsd:string">

		<!-- element PmtID -->

	</xsd:element>

	<xsd:element name = "PDPHandlingCode" type = "xsd:string">

		<!-- element PDPHandlingCode -->

	</xsd:element>

	<xsd:element name = "PrcDate" type = "xsd:date">

		<!-- element PrcDate -->

	</xsd:element>

	<xsd:element name = "ValueDate" type = "xsd:date">

		<!-- element ValueDate -->

	</xsd:element>

	<xsd:element name = "RlsDate" type = "xsd:date">

		<!-- element RlsDate -->

	</xsd:element>

	<xsd:element name = "FileInfoGrp">

		<!-- element FileInfoGrp -->

		<xsd:complexType>

			<xsd:attribute name = "FileDate" use = "required" type = "xsd:string"/>

			<xsd:attribute name = "FileTime" use = "optional" type = "xsd:time"/>

			<xsd:attribute name = "FileControlNumber" use = "required" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "CurCode" type = "xsd:string"/>

	<xsd:element name = "OrgnrDepAcctID">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "DepAcctID"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "RcvrDepAcctID">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "DepAcctID"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "IntermediaryDepAcctID">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "DepAcctID" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "VendorParty">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "Name" minOccurs = "0"/>

				<xsd:element ref = "RefInfo" minOccurs = "0" maxOccurs = "unbounded"/>

				<xsd:element ref = "PostAddr" minOccurs = "0"/>

				<xsd:element ref = "ContactInfo" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "POInfo">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "PONum" minOccurs = "0"/>

				<xsd:element ref = "Desc" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "POType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "Note">

		<!-- element Note  -->

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "NoteText" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "NoteType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "PONum" type = "xsd:string"/>

	<xsd:element name = "NoteText" type = "xsd:string"/>

	<xsd:element name = "RAInfo">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "RANum" minOccurs = "0"/>

				<xsd:element ref = "RADate" minOccurs = "0"/>

				<xsd:element ref = "Desc" minOccurs = "0"/>

			</xsd:sequence>

			<xsd:attribute name = "RANumType" type = "xsd:string"/>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "RANum" type = "xsd:string"/>

	<xsd:element name = "RADate" type = "xsd:date"/>

	<xsd:element name = "DocDelivery">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "EDDBillerID"/>

				<xsd:element ref = "FileOut" minOccurs = "0" maxOccurs = "unbounded"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "EDDBillerID" type = "xsd:string"/>

	<xsd:element name = "FileOut">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "FileType"/>

				<xsd:element ref = "FileFormat"/>

				<xsd:element ref = "Delivery" maxOccurs = "unbounded"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "FileType" type = "xsd:string"/>

	<xsd:element name = "FileFormat" type = "xsd:string"/>

	<xsd:element name = "Delivery">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:element ref = "DeliveryType"/>

				<xsd:element ref = "DeliveryContactName" minOccurs = "0"/>

				<xsd:element ref = "DeliveryFaxNumber" minOccurs = "0"/>

				<xsd:element ref = "DeliveryEmailAddress" minOccurs = "0"/>

				<xsd:element ref = "DeliveryUserID" minOccurs = "0"/>

				<xsd:element ref = "DeliveryCompanyID" minOccurs = "0"/>

				<xsd:element ref = "SecureType" minOccurs = "0"/>

				<xsd:element ref = "SecureQuestion01" minOccurs = "0"/>

				<xsd:element ref = "SecurePassword01" minOccurs = "0"/>

				<xsd:element ref = "SecureQuestion02" minOccurs = "0"/>

				<xsd:element ref = "SecurePassword02" minOccurs = "0"/>

				<xsd:element ref = "ReceivingAddress1" minOccurs = "0"/>

				<xsd:element ref = "ReceivingAddress2" minOccurs = "0"/>

				<xsd:element ref = "ReceivingCity" minOccurs = "0"/>

				<xsd:element ref = "ReceivingState" minOccurs = "0"/>

				<xsd:element ref = "ReceivingZip" minOccurs = "0"/>

				<xsd:element ref = "ReceivingCountry" minOccurs = "0"/>

				<xsd:element ref = "ReceivingCountryCode" minOccurs = "0"/>

			</xsd:sequence>

		</xsd:complexType>

	</xsd:element>

	<xsd:element name = "DeliveryType" type = "xsd:string"/>

	<xsd:element name = "DeliveryContactName" type = "xsd:string"/>

	<xsd:element name = "DeliveryFaxNumber" type = "xsd:string"/>

	<xsd:element name = "DeliveryEmailAddress" type = "xsd:string"/>

	<xsd:element name = "DeliveryUserID" type = "xsd:string"/>

	<xsd:element name = "DeliveryCompanyID" type = "xsd:string"/>

	<xsd:element name = "SecureType" type = "xsd:string"/>

	<xsd:element name = "SecureQuestion01" type = "xsd:string"/>

	<xsd:element name = "SecurePassword01" type = "xsd:string"/>

	<xsd:element name = "SecureQuestion02" type = "xsd:string"/>

	<xsd:element name = "SecurePassword02" type = "xsd:string"/>

	<xsd:element name = "ReceivingAddress1" type = "xsd:string"/>

	<xsd:element name = "ReceivingAddress2" type = "xsd:string"/>

	<xsd:element name = "ReceivingCity" type = "xsd:string"/>

	<xsd:element name = "ReceivingState" type = "xsd:string"/>

	<xsd:element name = "ReceivingZip" type = "xsd:string"/>

	<xsd:element name = "ReceivingCountry" type = "xsd:string"/>

	<xsd:element name = "ReceivingCountryCode" type = "xsd:string"/>

	<xsd:element name="PmtSuppCCR">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="PayeeType" />
				<xsd:element minOccurs="0" name="ExpDate" />
				<xsd:element minOccurs="0" name="MerchantID" />
				<xsd:element minOccurs="0" name="MCCCode" />
				<xsd:element minOccurs="0" name="Division" />
			</xsd:sequence>
		</xsd:complexType></xsd:element>

</xsd:schema>